{{ define "main" }}
<section id="projects-listing">
        <div class="side logo">Projects</div>
    {{ range .Pages }}
    <article>
        <a href="{{ .RelPermalink }}">
            {{ with .Resources.GetMatch "header" }}
            <img alt="" src={{ .RelPermalink }} />
            {{ end }}
            <div class="project-title logo events-logo">
                {{ .Title }}
            </div>
        </a>
    </article>
    {{ end }}
</section>
{{ end }}
