{{ define "main" }}
<section id="project-header">
    <div class="side">
        <h1 class="logo">
            {{ .Title }}
        </h1>
        {{ echoParam .Params "subtitle" }}
    </div>

    <div id="gallery-container">
        <div id="gallery">
            {{ range .Resources.ByType "image" }}
            <a class="glightbox" href={{ .RelPermalink }}>
                <img alt="" src={{ .RelPermalink }} />
            </a>
            {{ end }}
        </div>

        <div id="gallery-controls">
            <div id="gallery-left" class="arrow arrow-left">
                <button class="gprev gbtn" aria-label="Previous">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 477.175 477.175" xml:space="preserve">
                        <g>
                            <path
                                d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z">
                            </path>
                        </g>
                    </svg></button>
            </div>
            <div id="gallery-right" class="arrow arrow-right">
                <button class="gnext gbtn" aria-label="Next">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 477.175 477.175" xml:space="preserve">
                        <g>
                            <path
                                d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z">
                            </path>
                        </g>
                    </svg></button>

            </div>
        </div>
    </div>

</section>

<section class="norm-section">
    <div class="sidenote">
        <p> <em>DEVISED AND PERFORMED BY:</em>
            <br />
            Ainhoa Hevia Uria, Gina Batlle i Oliva, Julia Vandehof, Marina Varvara Zerva.
            <br />
            <br />
            {{ echoParam .Params "support"}}
        </p>
        <p>
            {{ echoParam .Params "duration" }}
        </p>
        <p>
            {{ echoParam .Params "language" }}
        </p>

    </div>

    <article class="main-side">
        {{ .Content }}
    </article>
</section>
{{ end }}
