*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cantarell Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Cantarell-VF.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Cantarell Bold';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Cantarell-VF.woff2') format('woff2-variations');
}

body {
    margin: 0;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Cantarell Regular";
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

header {
    position: sticky;
    top: 2em;
    margin-top: 2em;
    overflow: hidden;
    z-index: 10;
    color: black;
}

.header-home {
    color: white;
}

.header-home > hr {
    background-color: white;
}

.header-home nav a {
    color: white;
}

nav {
    padding-left: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

nav a {
    color: black;
}


.logo {
    font-family: 'Cantarell Bold';
    font-size: 3em;
    letter-spacing: -3px;
}

#toggle-button {
    position: absolute;
    top: 1.5em;
    right: .5em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.header-home #toggle-button .bar {
    background-color: white;
}

#toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.header-hr {
    width: 100%;
    height: .4em !important;
    background-color: black;
    padding:0;
    margin: 0;
    border: 0;
}

#header-menu {
    display: grid;
    grid-template-columns: 1fr auto;
}

#menu {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, max-content);
    align-items: end;
    justify-content: end;
    gap: 1.7em;
    padding-right: 4em;
    padding-bottom: .5em;
}

.header-home #menu > a {
    color: white;
}

#menu > a {
    color: black;
    font-size: 1.2em;
}

#menu-mobile > a {
    color: white;
    font-size: 1.2em;
}

#menu > a:after, #menu-mobile > a:after {
    display: block;
    content: attr(title);
    font-weight: 800;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

#menu > a:hover, .active, #menu-mobile > a:hover {
    font-weight: 800;
    transform: scale(1.2);
    transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2) , color .3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50% 30%;
}

.front-project a {
    color: white;
    background-image: linear-gradient(white, white);
    background-size: 0% 4px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease;
}

.front-project a:hover {
    background-size: 100% 4px
}

.norm-section a, footer a {
    font-style: italic;
    font-weight: 400;
    color: black;
    background-image: linear-gradient(black, black);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease;
}

.norm-section a:hover, footer a:hover {
    background-size: 100% 2px;
}

#spacer {
    height: 100vh;
    z-index: -20;
}

#projects-presentations {
    position: fixed;
    top: 0;
}

.front-project {
    height: 100%;
    width: 100%;
    background: black;
    z-index: 5;
}

.front-project > img {
    max-height: 100%;
}

.front-project > .label {
    padding: 4em;
    position: absolute;
    top: 50vh;
    color: white;
}

.front-project > .label > .front-project-title {
    font-size: 5em;
}

.front-project > .label > .project-subtitle {
    font-size: 3em;
}

#project > .label > .front-project-title > #on-tour {
    font-size: 3em;
}

.front-project > #sub-logo {
    position: absolute;
    font-size: 2em;
    padding-top: 3em;
    padding-left: 1em;
    top: 0;
    left: 0;
    color: white;
    letter-spacing: -1px;
}

.front-project a {
    color: white;
}

#on-tour {
    color: white;
    font-size: .5em;
}

.f-carousel__slide {
    overflow-y: hidden !important;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100%;
}

.f-carousel__dots {
    bottom: 4rem !important;
}

.f-carousel__dots button {
    color: white;
}

section {
    flex: 1;
    background-color: white;
    z-index: 10;
}

.norm-section {
    position: relative;    
    color: black;
    display: grid;
    padding: 2em;
    grid-template-columns: 30% 1fr;
    align-items: start;
    gap: 1em;
}

.main-side {
    font-size: 1.2em;
}

.main-side > p, .main-side li {
    max-width: 65ch;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side {
    /* border: .1em solid black; */
    font-size: 2em;
    padding: 0.2em;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
}

.side > i {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Cantarell Regular";
}

.sidenote {
    font-style: italic;
    padding: 1em 4em;
    margin: 0;
    font-size: 0.9em;
}

#social {
    display: grid;
    max-width: 65ch;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 3em;
    justify-items: center;
}

#tiles {
    display: grid;
    grid-template-columns: 40% 1fr;
    max-height: 100vh;
}

#dot {
    height: .5em;
    width: .5em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.inverted {
    background-color: black;
    color: black;
}

.blink {
    animation:2s blinker linear infinite;
    -webkit-animation:2s blinker linear infinite;
    -moz-animation:2s blinker linear infinite;
}

.front-project {
    max-width: 100%;
    overflow-y: hidden;
}

.img-container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.front-project > .img-container {
    height: 100%;
}

.img-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-news > img {
    width: auto;
    max-height: 500px;
    max-width: 100%;
}

.more-events {
    padding-left: 1em;
    align-self: center;
    justify-self: self-start;
    text-align: center;
}

.more-events i {
    font-size: 1.5em;
}

#gallery-container {
    display: grid;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#gallery::-webkit-scrollbar {
    display: none;
}

#gallery {
    grid-area: 1 / 1;
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 43%;
    gap: .5em;
    scroll-snap-type: inline mandatory;
    align-items: start;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    overflow-y: hidden;
}

#gallery > a {
    height: 100%;
    scroll-snap-align: start;
}

#gallery > a > img {
    inline-size: 100%;
    object-fit: cover;
    height: 100%;
}

#gallery-controls {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 1;
    z-index: 10;
    left: 0;
}

.arrow {
    pointer-events: all;
    position: relative;
    top: 50%;
}

.arrow button {
    background: rgba(0,0,0,0.5);
}

.arrow svg {
    fill: #fff;
}

.arrow-right {
    right: 1em;
}

.arrow-left {
    left: 1em;
}

#projects-listing > .side {
    /* grid-row: 1 / span 2; */
}

#projects-listing {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    align-items: start;
    padding: 2em;
}

#projects-listing > article {
    position: relative;
    width: 100%;
    height: 100%;
    transition: font-size .2s ease;
}

#projects-listing > article:hover {
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
    font-size: 2.5em;
}

#projects-listing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 2em;
    padding: 1em;
}

#project-header {
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: black;
    color:white;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
}

.ticketing {
    border: 2px solid black;
    padding: .4em;
}

#bios {
    padding: 2em 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.bio-card {
    max-width: 100%;
    display: grid;
    align-items: start;
    grid-template-rows: 1fr auto 1.2fr;
}

.bio-card > h2 {
    margin: 0;
}

.event {
    border: 2px solid black;
    margin: .5em;
    padding: .5em;
}

.events-logo a {
    margin-bottom: .4em;
    font-style: normal !important;
    letter-spacing: 0;
}

.event-date {
    padding-top: 1em;
}

.ticket-button {
    display: flex;
}

#contact-input {
    display: grid;
    grid-template-columns: 8ch 1fr;
    gap: 1em;
    max-width: 65ch;
}

#contact-form label {
    font-size: 1.2 em;
}

#contact-form input, textarea, button {
    border: 2px solid gray;
    padding: .3em;
    transition: border-color 500ms;
}

#contact-form input:focus-visible, textarea:focus-visible {
    outline: none;
}

#contact-form input:focus, input:active, textarea:focus, textarea:active {
    border-color: black;
}

#contact-form button {
    background-color: white;
    grid-column: 2;
}

.news-card {
    padding:1em 0;
    margin: .5em;
}

.news-a {
    font-style: normal !important;
}

.news-card > img {
}

.news-title {
    margin-block-end: .2em;
    margin-block-start: 0;
}

@-moz-keyframes blinker
{  
    0% { opacity: 1.0; }
    25% { opacity: 0.5; }
    50% { opacity: 0.0; }
    75% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker
{  
    0% { opacity: 1.0; }
    25% { opacity: 0.5; }
    50% { opacity: 0.0; }
    75% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker
{
    0% { opacity: 1.0; }
    25% { opacity: 0.5; }
    50% { opacity: 0; }
    75% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

footer {
    position: relative;
    z-index: 10;
    flex: 0;
    background-color: white;
    overflow-x: hidden;
    text-transform: uppercase;
}

#footer-content {
    padding: 1em 6em;
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

#footer-content a {
    color: black;
}

.footer-heading {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 1em;
    align-items: start;
}

.footer-link {
    font-weight: 200;
}

#menu-mobile {
    display: none;
}

@media screen and (max-width: 1280px) {
    #bios {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 768px) {
    header {
        top: .5em;
        margin-top: .5em;
    }

    nav {
        padding-left: .5em;
    }

    #sub-logo {
        padding-top: 2.2em !important;
        padding-left: .3em !important;
    }

    .label {
        padding: 1em !important;
    }

    #on-tour {
        display: block;
    }

    .project-subtitle {
        text-overflow: ellipsis;
    }

    #toggle-button {
        display: flex;
        z-index: 40;
    }

    #menu {
        display: none;
    }

    #menu-mobile {
        padding: 2em;
        position: fixed;
        inset: 0 0 0 40%;
        background-color: hsl(0 0% 0% / 0.8);
        backdrop-filter: blur(1rem);
        display: flex;
        gap: 1em;
        flex-direction: column;
        text-align: center;
        font-size: 1.4em;
        z-index: 20;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    #menu-mobile[menu-visible="true"] {
        transform: translateX(0%);
    }

    #menu-mobile a {
        width: 100%;
    }

    .norm-section {
        grid-template-columns: auto;
        padding: 1em;
    }

    .main-grid {
        grid-template-columns: auto;
    }

    .more-events {
        justify-self: center;
        padding-top: 1em;
    }

    #projects-listing {
        grid-template-columns: auto;
        padding: 0;
        padding-top: 1em;
    }

    #project-header {
        grid-template-columns: auto;
    }

    #gallery-controls {
        display: none;
    }

    #bios {
        grid-template-columns: 1fr;
        padding: 1em 1em;
    }

    #contact-input {
        grid-template-columns: 1fr;
    }

    #contact-form button {
        background-color: white;
        grid-column: 1;
    }

    #footer-content {
        grid-template-columns: auto;
        gap: 2em;
    }
}
