+++
slug = "success"
title = "success"
draft = "false"
+++
<section class="norm-section">
    <div class="logo side">
        Success
    </div class="main-side">
    <div id=success>
        <p> Your message has been sent successfully. Thanks a lot.</p>
    </div>
</section>
