+++
slug = "contact"
title = "contact"
draft = "false"
+++
<section id="contact" class="norm-section">
    <div class="logo side">
        Contact

    </div>

    <div class="main-side">
        <div id="social">
            <div class="footer-link">
                <a href="https://www.instagram.com/kein_komplot/">Instagram</a>
            </div>
            <div class="footer-link">
                <a href="mailto:keinkomplot@gmail.com">Mail</a>
            </div>
            <div class="footer-link">
                <a href="https://www.youtube.com/channel/UCsC0psfr7ubq9Uzr9FKZavw">Youtube</a>
            </div>

        </div>
        <h3>
            Reach out to us
        </h3>
        <form id="contact-form" method="POST" data-netlify="true" name="contact" action="/success" netlify>
            <div id="contact-input">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email">

                <label for="message">Message:</label>
                <textarea cols="30" id="message" name="message" rows="10"></textarea>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
