+++
slug = "about"
title = "about"
draft = "false"
+++
<section id="about" class="norm-section">
    <div class="logo side">
        About
    </div>

    <div id="about-text" class="main-side">
        <p>
            We are Ainhoa, Gina, Julia and Marina. Kein Komplot Collective! <br />
            Kein Komplot is a European theatre collective founded by four actresses and theatre creators from Spain,
            Austria and Greece with different artistic backgrounds who are committed to physical, visual and
            surrealist theatre that brings different visions on current issues on stage. They work in a horizontal
            and collaborative way in which they define creation as an element of constant research.
        </p>
        <p>
            The members of Kein Komplot met during their studies at LISPA (London International School of Performing Arts), based in Berlin. They have been collaborating since 2019 as performers and co-creators in different projects of their own creation as well as have also facilitated workshops and laboratories together in various institutions in Spain, Austria, Germany and India.</p>

        <div id="history">
            <h2>
                Workshops
            </h2>
            <ul>
                <li>
                    2021 Remaking Myth of the feminine, Embodied Poetics Satelite (online and live in Berlin)
                </li>
                <li>
                    2020 El Galliner Centre de Formació Teatral (Girona)
                </li>
                <li>
                    2020 Escola Municipal de Olot (Olot)
                </li>
                <li>
                    2019 as part of the Whilst Walking Tour in: Pune, Bangalore, Shantiniketan  and Agra.
                </li>
            </ul>
        
            <h2>
                Residencies
            </h2>
            <ul>
                <li>
                    2023 (May-June): Factoria SI (Cornellà, Catalunya)
                </li>
                <li>
                    2022 (July-August): CCA El Corralito (Terrassa, Catalunya)
                </li>
                <li>
                    2022 (April-May): RAI Asociación (Barcelona, Catalunya)
                </li>
                <li>
                    2020 (March): Faber Llull (Olot, Catalunya)
                </li>
                <li>
                    2020 (January): Prenzlauer Promenade (Berlin)
                </li>
                <li>
                    2019 (January): The Company (Kamshet, India)
                </li>
            </ul>
            
        </div>
        </div>

    
</section>

<section id="bios" class="main-side">
    <div class="bio-card">
        <div class="img-container">
            <img alt="" src="aihnoa.jpg" />
        </div>
        <h2>
            Ainhoa Hevia Uria
        </h2>
        <div>
            <p>
                <em>(Oviedo, 1993)</em>
            </p>
            <p>
                Graduated in Acting at Dramatic Art, ESAD in Asturias and trained in "Advanced Devised Theatre and Performance" at LISPA & Rose Bruford College. She has worked as an actress, director and creator in Spain, Portugal, Germany, India and the United Kingdom. She currently works as a freelance performer and as an actress and creator for Kein Komplot.
            </p>
        </div>
    </div>
    <div class="bio-card">
        <div class="img-container">
            <img alt="" src="gina.jpg" />
        </div>
        <h2>
            Gina Batlle i Oliva
        </h2>
        <div>
            <p>
                <em>(Barcelona, 1995)</em>
            </p>
            <p>
                Trained in Dramatic Art at the Col.legi del Teatre and El Timbal schools in Barcelona and in "Advanced Devised Theatre and Performance" at LISPA. She is an actress, director, theater creator and was an opera singer in Spain, Berlin and India.
            </p>
        </div>
    </div>

    <div class="bio-card">
        <div class="img-container">
            <img alt="" src="julia.jpg" />
        </div>
        <h2>
            Julia Vandehof
        </h2>
        <div>
            <p>
                <em>(Vienna, 1984)</em>
            </p>
            <p>
                She graduated in theatre and film studies at the University of Vienna and trained in "Advanced Devised Theatre and Performance" at Arthaus Berlin & Rose Bruford College London. She has been working as performer, puppeteer and director in Austria, Germany, China and India.
            </p>
        </div>
    </div>

    <div class="bio-card">
        <div class="img-container">
            <img alt="" src="marina.jpg" />
        </div>
        <h2>
            Marina Varvara Zerva
        </h2>
        <div>
            <p>
                <em>(Kalamata, 1991)</em>
            </p>
            <p>
                Marina Zerva (Kalamata, 1991). Initially trained as a dancer and singer, she studied Drama at the University of Athens and "Advanced Devised Theatre and Performance" at LISPA. She regularly works as an actress, performer and theatre educator in Greece and Germany.
            </p>
        </div>

    </div>
</section>
