{{ define "main" }}
<section id="events-listing">
    {{ if where (where site.RegularPages "Type" "events") "Params.event_date" "gt" now }}
    <section id="current-events">
        <div class="norm-section">
            <div class="logo side">
                <div class="blink">
                    <div id="dot"> </div>
                    Upcoming dates
                </div>
            </div>
            <div class="main-side main-grid">
                {{ range sort (where (where site.RegularPages "Type" "events") "Params.event_date" "gt" now) "Params.event_date" }}
                {{ partial "event-listing.html" . }}
                {{ else }}
                <article>
                    There are not planned upcoming events.
                </article>
                {{ end }}

            </div>
        </div>

    </section>
    {{ end }}
    <section id="old-events">
        <div class="norm-section">
            <div class="logo side">
                Past dates
            </div>
            <div class="main-side main-grid">
                {{ range (collections.Reverse (sort (where site.RegularPages "Type" "events") "Params.event_date")) }}
                {{ if (.Params.event_date | time.AsTime).Before now }}

                    {{ partial "event-listing.html" . }}

                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>

</section>
{{ end }}
