<article class="event">
    <div class="event-date">
        {{ .Params.event_date | time.Format "Mon, 02 Jan 2006 -- 15:04"}}
    </div>
    <br />
    <div class="logo events-logo">
        {{ $title := .Title}}
        {{ range where .Site.RegularPages "Type" "projects"}}
        {{ if eq $title .Title}}
        <a href={{ .RelPermalink }}>{{ .Title }}</a>
        {{ end }}
        {{ end }}
    </div>
    <div>
        <em>
            {{ echoParam .Params "subtitle" }}
        </em>
    </div>
    <br />
    <div>
        {{ echoParam .Params "festival"}}
    </div>
    <div>
        {{ echoParam .Params "venue"}}
    </div>
    <div>
        {{ echoParam .Params "address"}}
    </div>
    <div>
        {{ echoParam .Params "city"}}
    </div>
    {{ if (echoParam .Params "link") }}
    <div>
        <a href="{{ echoParam .Params "link" }}"> {{ echoParam .Params "link_description" }}</a>
    </div>
    {{ end }}
    <br />
    {{ if (and (echoParam .Params "ticketing") ((.Params.event_date | time.AsTime).After now))}}
    <div class="ticket-button">
        <span class="ticketing">
            <a href={{ echoParam .Params "ticketing" }}>
                Book tickets here.
            </a>
        </span>
    </div>
    {{ end }}
</article>
