<footer>
    <hr class="header-hr inverted">
    <div id="footer-content">
        <div id="footer-social">
            <div class="footer-heading">
                Socials
            </div>
            <div class="footer-link">
                <a href="https://www.instagram.com/kein_komplot/">Instagram</a>
            </div>
            <div class="footer-link">
                <a href="https://www.youtube.com/channel/UCsC0psfr7ubq9Uzr9FKZavw">Youtube</a>
            </div>
            <div class="footer-link">
                <a href="mailto:keinkomplot@gmail.com">Mail</a>
            </div>
        </div>

        <div>
            <div class="footer-heading">
                Kein Komplot, 2024
            </div>
            <div>
                Created by <a href="https://stinpriza.org">Stin Priza</a>
            </div>

        </div>
    </div>
</footer>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
