<div id="news" class="inverted">
    <div id="coming-soon">
        <div id="dot"> </div>
        Upcoming event
        <div id="dot"> </div>
    </div>
    {{ range (where .Site.RegularPages "Type" "events") }}
    <div class="logo-small">
        {{ .Title }}
    </div>
    <div>
        {{ echoParam .Params "subtitle" }}
    </div>
    <br />
    <div>
        {{ echoParam .Params "event-date"}}
    </div>
    <br />
    <div>
        {{ echoParam .Params "venue"}}
    </div>
    <div>
        {{ echoParam .Params "address"}}
    </div>
    <div>
        {{ echoParam .Params "city"}}
    </div>
    <img alt="" src="/map-white.png" style="max-width: 100%" />
    <br />
    <div>
        Book tickets <a href={{ echoParam .Params "ticketing" }}>here</a>.
    </div>
    {{ end }}
</div>
