<div id="project">
    {{ with index (where .Site.RegularPages "Type" "projects") 0}}
    <h2> {{ .Title }} </h2>
    {{ range .Resources.ByType "image" }}
    <img alt="" src={{ .RelPermalink }} />
    {{ end }}
    {{ end }}
</div>
