{{ $currentPage := . }}

<header {{ if eq .Kind "home" }}class="header-home"{{ end }}>
    <nav>
        <a href="/">
            <div class="logo"> keinkomplot. </div>
        </a>
        <a href="#" id="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <span id="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}" title="{{ .Name }}">
                {{ .Name }} </a>
            {{ end }}
        </span>
    </nav>
    <hr class="header-hr">
</header>


<span id="menu-mobile" menu-visible="false">
    <a href="#" class="close" id="close-mobile-menu"> X </a>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}" title="{{ .Name }}">
        {{ .Name }} </a>
    {{ end }}
</span>
