<article class="news-card">

    <a class="news-a" href={{ .RelPermalink }}>

        <h2 class="news-title">
            {{ .Title }}
        </h2>
        <p>
            <i>
                {{ .Date | time.Format ":date_long" }}
            </i>
        </p>

        {{ with .Resources.GetMatch "cover" }}
        <div class="img-news">
            <img alt="" src={{ .RelPermalink }} />
        </div>
        {{ end }}
    </a>
</article>
