{{ define "main" }}
<main>
    <div id="spacer">
        
    </div>
    
    <section id="projects">
        <div id="projects-presentations" class="f-carousel">
            {{ range (where .Site.RegularPages "Type" "projects") }}
            <div class="front-project f-carousel__slide">
                {{ with .Resources.GetMatch "header" }}
                <div class="img-container">
                    <img alt="" src={{ .RelPermalink }} />
                </div>
                {{end}}
                <div id="sub-logo" class="logo">
                    physical theatre collective
                </div>
                <div class="label">
                    <div class="front-project-title logo">
                        <a href={{ .RelPermalink }}>{{ .Title }}</a>
                        {{ $title := .Title}}
                        {{ with index (where (where (where .Site.RegularPages "Type" "events") ".Title" "eq" $title)
                        "Params.event_date" "gt" now) 0}}
                        <span id="on-tour" class="blink">
                            <a href="#events">
                                <i class="fa-solid fa-arrow-down"></i>
                                On Tour
                                <div id="dot"> </div>
        
                            </a>
                        </span>
                        {{ end }}
                    </div>
                    <div class="project-subtitle">
                        {{ echoParam .Params "subtitle" }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>


    </section>

    {{if (where (where site.RegularPages "Type" "events") "Params.event_date" "gt" now)}}
    <section id="events" class="norm-section">
        <div class="logo side">
            <div class="blink">
                <div id="dot"> </div>
                Upcoming event
            </div>
        </div>
        <div id="upcoming-event" class="main-side main-grid">

            {{ with index (where (where site.RegularPages "Type" "events") "Params.event_date" "gt" now | collections.Reverse) 0}}
            {{ partial "event-listing.html" .}}
            {{ end }}

            <div class="more-events">
                <i class="fa-solid fa-arrow-right"></i> <br />

                <a href="/events">
                    More events
                </a>
            </div>
        </div>
    </section>
    {{ end }}

    <section id="news" class="norm-section">
        <div class="logo side">
            News
        </div>
        <div class="main-side main-grid">
            {{ with index (where site.RegularPages "Type" "news") 0 }}
            {{ partial "news-listing.html" . }}
            {{ end }}
            <div class="more-events">
                <i class="fa-solid fa-arrow-right"></i> <br />

                <a href="/news">
                    More news
                </a>
            </div>
        </div>

    </section>
</main>
{{ end }}
