{{ define "main" }}
<section id="news-listing">
    <div class="norm-section">
        <div class="logo side">
            News
        </div>
        <div class="main-side main-grid">
            {{ range (where site.RegularPages "Type" "news") }}
            {{ partial "news-listing.html" . }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
