{{ define "main" }}
<section class="norm-section">
    <div class="side logo">
        {{ .Title }}
        <hr />
        <i>
            {{ .Date | time.Format ":date_long" }}
        </i>
    </div>
    <article class="main-side">
        {{ with .Resources.GetMatch "cover" }}
        <div class="img-news">
            <img alt="" src={{ .RelPermalink }} />
        </div>
        {{ end }}
        {{ .Content }}
    </article>

</section>
{{ end }}
